# Load Nix flake environment if available
if has nix; then
    use flake
fi

for init_dir in .envrc.d .envrc.local.d
do
    if [[ -d "$init_dir" ]]
    then
        for f in "$init_dir"/*
        do
            source "$f"
        done
    fi
done

